body{
    background-color: yellowgreen;
}
h1{
    color: black;
    background-color: whitesmoke;
    padding: 10px;
}
#show_sketch{
    float: right;

}
p{
    font-size: 30px;
    color: black;

}
canvas{
    border:5px black;
    border-radius: 20px;
    animation-name: myanimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
}
@keyframes myanimation {
    from{
        box-shadow: 5px 5px 50px red;
        
    }
    to{
        box-shadow: 5px 5px 50px yellow;
    }
    
}